<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>OMAC Fourm Clone</title>

  <link rel="stylesheet" href="css/index.css">

</head>
<body>
    <h1 style="text-align: center">OMAC Fourm Clone</h1>
    <h2><a href="">Profile</a></h2> <h2><a href="">Members</a></h2>
   <a href="">New Post</a>
    <table style="width:100%">
  <tr>
    <th>Title</th>
    <th>Edit</th> 
    <th>Delete</th>
  </tr>
  <tr>
    <td>Topic 1</td>
    <td><a href="">Edit</a></td> 
    <td><a href="">Delete</a></td>
  </tr>
  <tr>
    <td>Topic 2</td>
    <td><a href="">Edit</a></td> 
    <td><a href="">Delete</a></td>
  </tr>
  <tr>
    <td>Topic 3</td>
    <td><a href="">Edit</a></td> 
    <td><a href="">Delete</a></td>
  </tr>
</table>
</body>
</html>
